<section id="title">
  <div class="d-flex justify-content-center">
    <h1 class="display-1">Navidad <%= image_tag("clous.png") %></h1>
  </div>
</section>
<section id="counter">
  <div class="d-flex justify-content-center mt-5" data-controller="counter">
    <div class="" data-counter="display">
      <h2>Faltan <strong><%= "#{pluralize(chrismas_counter.days_until_christmas, "día")}" %></<strong> <%= image_tag("three-gifts.png") %></h2>
    </div>
  </div>
</section>
